@page "{id:int}"
@model MagicalGoods.Pages.Shop.ProductModel
@{
    Layout = "_Layout";
}



    <section class="d-flex">
        <article class="d-flex justify-content-center">
            <div class="row mt-5 p-5">
                <div class="col-4 p-2">
                    <img class="img-fluid" src="@Model.CurrentProduct.Image" />
                </div>
                <div class="col-8 p-2">
                    <h2>@Model.CurrentProduct.Name</h2>
                    <p>@Model.CurrentProduct.Description</p>
                    <h5>@Model.CurrentProduct.Price Galleons</h5>
                    <form method="post">
                        <button class="btn btn-primary" asp-route-productId="@Model.CurrentProduct.ID" type="submit">+ Add to Cart</button>
                    </form>
                </div>
            </div>
        </article>
        <aside class="m-5 col-md-2">
            @await Component.InvokeAsync("Basket", @Model.UserId)
        </aside>
    </section>

